/* 

    Cor primaria: #F9D84D 
    cor primaria clara: #FFE36E
    cor secundaria: #1B5173
    cor secundaria clara: #487A9B
    cor de fundo: #333333
    cor do texto: #cccccc
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* VARIAVEIS */
:root 
{
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFE36E;
    --cor-secun: #F94D58;
    --cor-secun-clara:  #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #EEEE;
    --font-texto: 'IBM Plex Sans', sans-serif;
    --font-titulo: 'Playfair Display', serif;
    
}

/*Css reset**/
*{
    font-family: var(--font-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    /*background-color: var(--cor--fundo) ;
    color: var(--cor-texto)*/
}
/*Css reset**/

body
{
    background-color: var(--cor-fundo);
}

header
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color:var(--cor-prim);
    min-height: 50px;
    flex-wrap: wrap;
}

#menu-principal
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color: var(--cor-secun);
    min-height: 25%;
    width: 100%;
}
#menu-principal ul /*Afeta o <ul> que está dentro do menu principal*/
{
    list-style: none;/* Tira a decoração dos itens da lista */
    display: flex;/*Container flex - todos os itens filhos na horizontal por padrão*/
}
#menu-principal ul li
{
    height: 36px;
    margin: 0 10px; /* 0 topo fundo; 10px esquerda e direita*/
    display: flex;
}
#menu-principal ul li a
{
    font-family: var(--font-titulo);
    display: inline-block; /*Exibe como bloco em linha*/
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--cor-texto);
    text-decoration: none; /*Sem sublinhado*/
    background-color: var(--cor-secun);
    transition: 300ms; /*Afeta a velocidade dos efeitos do hover*/
}
#menu-principal ul li a:hover /*Quando o mouso passa sobre o link do menu*/
{
    filter: brightness(0.8); 
    /*Filtro que escurece a cor do item (cor de frente + cor de fundo)
        brightness < 1: escurece
        brightness > 1: clareia
    */
}
main
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 300px;
}

section
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    border: 1px solid rgb(32, 1, 53);
    background-color: lightskyblue;
    min-height: 100%;
    flex-grow: 3;
    margin: 5px;
}

article{

    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    border: 1px solid rgb(182, 135, 6);
    background-color: lightgray;
    margin: 5px;
    min-height: 50px;
    width: 100%;
}

aside
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    border: 1px solid rgb(32, 1, 53);
    background-color: rgb(182, 182, 182);
    min-height: 100%;
    flex-grow: 1;
    margin: 5px;
}

footer
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    
    background-color: var(--cor-fundo-clara);
    min-height: 50px;
}
/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main
    {
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside
    {
        width: 100%;
    }
}