/* 

    Cor primaria: #F9D84D 
    cor primaria clara: #FFE36E
    cor secundaria: #1B5173
    cor secundaria clara: #487A9B
    cor de fundo: #333333
    cor do texto: #cccccc
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* VARIAVEIS */
:root 
{
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFE36E;
    --cor-secun: #F94D58;
    --cor-secun-clara:  #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --cor-texto: #EEEE;
    --font-texto: 'IBM Plex Sans', sans-serif;
    --font-titulo: 'Playfair Display', serif;
    
}

/*Css reset**/
*{
    font-family: var(--font-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    /*background-color: var(--cor--fundo) ;
    color: var(--cor-texto)*/
}
/*Css reset**/

html
{
    /*background-color: var(--cor-fundo);*/
    font-size: 16px;
    scroll-behavior: smooth;/*rolagem suave*/
}

header
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color:var(--cor-prim);
    min-height: 50px;
    flex-wrap: wrap;
}

#menu-principal
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/    
    background-color: var(--cor-secun);
    min-height: 25%;
    width: 100%;
}
#menu-principal ul /*Afeta o <ul> que está dentro do menu principal*/
{
    list-style: none;/* Tira a decoração dos itens da lista */
    display: flex;/*Container flex - todos os itens filhos na horizontal por padrão*/
}
#menu-principal ul li
{
    height: 36px;
    margin: 0 10px; /* 0 topo fundo; 10px esquerda e direita*/
    display: flex;
}
#menu-principal ul li a
{
    font-family: var(--font-titulo);
    display: inline-block; /*Exibe como bloco em linha*/
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: var(--cor-texto);
    text-decoration: none; /*Sem sublinhado*/
    background-color: var(--cor-secun);
    transition: 300ms; /*Afeta a velocidade dos efeitos do hover*/
}
#menu-principal ul li a:hover /*Quando o mouso passa sobre o link do menu*/
{
    filter: brightness(0.8); 
    /*Filtro que escurece a cor do item (cor de frente + cor de fundo)
        brightness < 1: escurece
        brightness > 1: clareia
    */
}
main
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 200px; /* altura mínima */
    background-color: var(--cor-fundo-clara);
}

section
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    background-color: transparent;
    min-height: 100%;
    flex-grow: 3;
    margin: 20px;
}

article
{

    display: flex;
    justify-content: center; /*Centralização horizontal*/
    flex-wrap: wrap;
    align-items: center; /*Centralização vertical*/
    background-color: transparent;
    margin: 5px;
    min-height: 50px;
    width: 100%;
}
/*Regra para o título h1 que está dentro do section*/
section > h1 /*O sinal > indica que serão atingidos apenas os FILHOS DIRETOS de section*/
{
    text-align: left;
    width: 100%;
    color: var(--cor-fundo);
    font-family: var(--font-titulo);
    font-style: italic;
    font-size: 2rem;
    text-shadow: -1px -1px 1px rgba(255,255,255,0.4);
}
/*Regra para os títulos h1 que estão dentro dos articles*/
article h1 
{
    text-align: right;
    width: 100%;
    color: var(--cor-texto);
    font-family: var(--font-titulo);
    font-size: 1.5rem
}
/*Regra para a div interna de .cartao-carro*/
.cartao-carro div
{
    height: 360px;
    border-radius: 16px;
}
/*Regra para link de .cartao-carro*/
.cartao-carro a
{
    text-decoration: none;
}
.cartao-carro a div 
{
    transition: 400ms;
}
/*Regra para o link de .cartao-carro quando o mouse sobrepor*/
.cartao-carro a:hover div
{
    filter: brightness(1.2);
    box-shadow: 3px 3px 6px rgba(255,255,255,0.15);
}
/*Classe cartao-carro*/
.cartao-carro
{
    border: 1px solid var(--cor-fundo);
    background-color: var(--cor-fundo);
    width: 300px;
    height: 360px;
    margin: 20px;
    border-radius: 16px;
    
}

/*Regra para imagens dentro de .cartao-carro*/
.cartao-carro img
{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.cartao-carro h1
{
    font-family: var(--font-titulo);
    font-size: 1.75rem;
    color: var(--cor-secun);
    text-align: left;
    margin-left: 20px;
}
.cartao-carro p
{
    color: var(--cor-texto);
    margin: 0 20px;
    
}
aside
{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    border: 1px dashed dimgray;
    background-color: lightgray;
    min-height: 100%;
    flex-grow: 1;
    margin: 5px;
}

footer
{
    display: flex;
    justify-content: space-around; /*distribui o espaço entre os itens filhos*/
    align-items: center; /*Centralização vertical*/
    background-color: var(--cor-fundo-clara);
    min-height: 50px;
    padding: 20px;
    color: var(--font-texto);
}
footer a /*links dentro do footer*/
{
    color: var(--cor-prim);
    text-decoration: none;
}
/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main
    {
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside
    {
        width: 100%;
    }
}